@import "colors";
@import "keyframes";

@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
}

.button {
  width: 10rem;
  height: 3rem;
  background: $color-button;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff;
  border: none;

  &:hover {
    background-color: darken($color-button, 5%);
  }

  &:active {
    background-color: darken($color-button, 10%);
    position: relative;
    top: 1px;
  }

  &:disabled {
    background-color: #bbbbbb;
    color: darken(#fff, 20%);
  }

}

.button__hint {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: $color-button;
  line-height: 3rem;
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: #fff;
  border: none;
}

main {
  background-color: $color-background;
}

.battle {
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 15vh 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "battle__info battle__result"
    "battle__buttons battle__buttons";


  &__heading {
    text-align: center;
    text-transform: uppercase;
    animation-name: color-change;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    grid-area: header;
  }

  &__info {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-area: battle__info;

    & p {
      margin: 0;
    }

  }

  &__result {
    grid-area: battle__result;
  }

  &__buttons {
    grid-area: battle__buttons;
    display: flex;
    justify-content: space-around;
  }
}